*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.box{
    background: linear-gradient(15deg, #501919,#4b4e50);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
:root{
    --betGap: 15px;
    --textBg: #3c3c3c;
    --hvTextBg: #505050;
    --textBrd: 1px solid rgba(103, 102, 102, 0.5);
    --txtColor: #e1dfdf;
}
.innerBox{
    display: flex;
    gap: var(--betGap);
}
.logo{
    transform: translate(4px, 0);
}
.logo-img{
    height: 40px;
}
.Left{
    width: 70%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: var(--betGap);
}
.Right{
    width: 30%;
    border-radius: 15px;
    display: flex;
    gap: var(--betGap);
    flex-direction: column;
}
.topLeft{
    height: 60%;
    border-radius: 15px;
    display: flex;
    gap: var(--betGap);
}
.bottomLeft{
    height: 40%;
    border-radius: 15px;
    display: flex;
    gap: var(--betGap);
}
.topRight{
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: var(--betGap);
}
.card{
    box-shadow: inset 0 0 5px rgb(71, 70, 70),-5px 10px 8px rgba(0, 0, 0, 0.634);
    border-radius: 15px;
    background: linear-gradient(18deg, #000000,#525758);
    border: 1px solid rgba(255, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.184);
    
}

.bloodDetail{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.bloodRequest{
    height: 75%;
    width: 100%;
    
}
.requestBlood{
    
    height: 25%;
    width: 100%;
    
}
.profileSection{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 94%;
    padding-left: 25px;
}
.iconSection{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.timerSection{
    
    height: 40%;
    width: 100%;
    
}
.recentDonation{
    
    width: 60%;
    height: 100%;
    
}
.emergency{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    
}
.proContainer{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.detContainer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 8px;
    width: 50%;
}
.profileContainer{
    display: flex;
    flex-direction: column;
}
.profileImg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: flex-end;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid rgba(0, 85, 255, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.499);
}
.profileImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ageInfo{
    max-width: 50%;
    gap: 8px;
}
#age{
    padding: 0 0.5rem 0 0;
    border-right: 1px solid #d5d2d2;
}
.bullet{
    border: var(--textBrd);
    color: var(--txtColor);
    background-color: var(--textBg);
    min-width: 4.4rem;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}
.post{
    display: flex;
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    border-top: 1px solid rgba(179, 179, 179, 0.3);
    box-shadow:inset 0 0 1px rgba(252, 252, 252, 0.556), 0 0 8px rgba(40, 39, 39, 0.556);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(15deg, #383838, #4a4949);
    height: 2.0rem;
    width: 87%;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 1rem;
    color: #d5d2d2;
    transition: all 0.3s ease-in-out;
}
.post:hover{
    background: linear-gradient(15deg, #333333,#3f3f3f);
}
#location{
    max-width: 60%;    
}
#location:hover {
    max-width: fit-content;
    overflow: visible;
}
.heartContainer{
    display: flex;
    align-items: center;
    gap: 8%;
    margin-top: 14px;
}
.status{
    display: flex;
    height: 70px;
    min-width: 70px;
    font-size: 2rem;
    border: 1px solid rgba(116, 116, 116, 0.537);
    background-color: #4b4e50;
    color: #d0cfcf;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
/* to show that user is available to donate */
.available{
    border: 1px solid rgba(116, 116, 116, 0.537);
    background-color: #4b4e50;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.485);
    color: #f00000;
}
.available i{
    animation: heartbeat 2s infinite ease-in-out;
}
.ecg{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    background-color: #4b4e50;
    border: 1px solid rgba(116, 116, 116, 0.537);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.485);
}
.ecg-line {
    width: 100%;
    height: 100%;
}
.ecg-line path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: moveECG 2s linear infinite;
}
@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes moveECG {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: -100;
    }
}
.logout{
    gap: 3px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    height: 37px;
    width: 90px;
    background: linear-gradient(15deg, #5d0000, #e00000);
}
.logout:hover{
    background: linear-gradient(15deg, #5d00009e, #e000009e);
}

/* Blood Details section styling */
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}
.detailhead{
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: start;
    height: 2.2rem;
    width: 78%;
    margin-top: 8px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    border-top: 1px solid rgba(179, 179, 179, 0.3);
    box-shadow:inset 0 0 1px rgba(252, 252, 252, 0.556), 0 0 8px rgba(40, 39, 39, 0.556);
    font-weight: 760;
    font-size: 1.25rem;
    border-radius: 15px;
    background: linear-gradient(15deg, #383838,#4a4949);
    color: #dadada;
    gap: 10%;
    cursor: pointer;
}
.name{
    width: 55%;
    padding-right: 20px;
    font-size: 1.4rem;
    justify-self: flex-start;
    align-self: flex-start;
}
.header i{
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #ff0a0a;
    background: linear-gradient(15deg, #383838,#4a4949);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    border-top: 1px solid rgba(179, 179, 179, 0.3);
    box-shadow:inset 0 0 1px rgba(252, 252, 252, 0.556), 0 0 8px rgba(40, 39, 39, 0.556);
    transition: all 0.3s ease-in-out;
}
.details{
    display: flex;
    width: 100%;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    margin:  20px 0 10px 0;
}
.Bd{
    padding: 5px 12px;
    min-width: 70%;
    width: fit-content;
    gap: 10px;
    justify-content: flex-start;
}
.point{
    min-width: 40%;
    width: fit-content;
    text-align: start;
    font-size: 0.9rem;
}
.Bname{
    border-right: 1px solid #d5d2d2;
    min-width: 55%;
    font-weight: 550;
    font-size: 1rem;
}
.requestSection{
    width: 92%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 0;
}
.writeReq{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.postReq{
    width: 70%;
}
.postReq input{
    background: none;
    outline: none;
    height: 100%;
    border: none;
    font-size: 1rem;
    color: #f4f4f4;
    width: 95%;
}
.buttonHold{
    flex: 1;
    display: flex;
    margin-bottom: 6px;
    margin-right: 5px;
    gap: 8px;
    align-items: flex-end;
    justify-content: flex-end;
}
.Dedit{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Emergency request section styling */

.emergencyReq{
    width: 90%;
    height: 80%;
}
/* for making users notice the emergency request */
.reqArrive{
    box-shadow: 0 0 15px rgb(255, 47, 0);
}


/* Button panel styling */
.toggles{
    border-radius: 40%;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.toggles:hover{
    background: linear-gradient(15deg, #00065462,#005f9e6c);
    color: #d0cfcf;
}
/* to be applied after turning on (pressing ones turns on) */
.active{
    background: linear-gradient(15deg, #000552,#005f9e);
    color: white;
}
.eDetail{
    display: flex;
    align-items: flex-start;
    width: 82%;
    margin: 20px 0 10px 38px;
    gap: 10px;
    flex-direction: column;
}
.ePoint{
    font-weight: 540;
    font-size: 1rem;
}